@charset "utf-8";

/*

	geral

*/
figure {
	background-color: #ffffff;
}

figure img {
	width: 100%;
}

/*

	introducao

*/
#introducao {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

#introducao > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#introducao > div > p {
	text-align: center;
}

/*

	exemplos

*/
#exemplos {
	margin-top: 50px;
}

#exemplos-imagens {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

#exemplos-imagens figure {
	max-width: 250px;
	margin: 10px;
}

/*

	mobile

*/
@media (max-width: 600px) {
	#introducao {
		grid-template-columns: repeat(1, 1fr);
	}
}